body{
  background-image: url('https://cdn.pixabay.com/photo/2015/08/20/08/24/blue-897122_960_720.jpg');
}
.App {
  text-align: center;
}

.App-header {
  background-color: steelblue;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 75%;
  margin: 0 auto;
}

button{
  background: white;
  color: steelblue;
  align-items: center;
  margin: .2%;
  text-shadow: -1px 0 dodgerblue, 0 1px dodgerblue, 1px 0 dodgerblue, 0 -1px dodgerblue;
  box-shadow: 2px 2px 5px black
}
button:hover{
  background: navy;
  color: white;
  text-shadow: -1px 0 steelblue, 0 1px steelblue, 1px 0 steelblue, 0 -1px steelblue;
}

